{% extends 'base.html' %}
{% load staticfiles likes %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_album or album.author %}
        <a href="{% url 'webapp:album_update' album.pk %}">Update</a>
    {% endif %}
    {% if perms.webapp.delete_album or album.author %}
        <a href="{% url 'webapp:album_delete' album.pk %}">Delete</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <h3>{{ album.name }}</h3>
        <p>{{ album.description }}</p>
        <p>Автор: {{ album.author }}</p>
        <p> Созданно: {{ album.created_at }} </p>
    </div>

    <h3>Photo:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% include 'photos/index.html' %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}